<!--container of the calculator application-->
<div class="container-fluid">
  <div class="row">
    <mat-toolbar  class="col-lg-12" color="primary">
      <span>Calculator Application</span>
    </mat-toolbar>
    <div class="container-fluid " style="margin-top:10%; margin-bottom:2%">
      <div class="row">
        <h1 class="d-none d-md-none d-sm-none d-lg-block col-lg-6" style="color:#3f51b5;padding-left:2.5%">Input</h1>
        <h1 class="d-none d-md-none d-sm-none d-lg-block col-lg-6" style="color:#3f51b5;padding-left:2.5%">Output</h1>
      </div>
      <!--component Import as child component-->
      <div class="row">
        <h1 class="d-lg-none col-sm-12" style="color:#3f51b5;padding-left:2.5%">Input</h1>
          <app-componentb class="col-lg-6 col-md-12 col-sm-12"[inputObj]="inputObj"(getUserData)="userInput($event)"></app-componentb>
          <h1 class="d-lg-none col-sm-12" style="color:#3f51b5;padding-left:2.5%">Output</h1>
          <app-componentc class="col-lg-6 col-md-12 col-sm-12"[outputA]="output"></app-componentc>
        </div>
    </div>
  </div>
</div>
