<!--container for input card-->
<div class="container-fluid">
  <mat-card>
    <!--inputs passing and getting the form data from parent component-->
    <div class="row">
      <mat-form-field class="col-lg-6 col-md-6 col-sm-5">
        <mat-label >First Input</mat-label>
        <input [(ngModel)]="inputObj.firstInputA" matInput>
      </mat-form-field>
      <mat-form-field class="col-lg-6 col-md-6 col-sm-6" >
        <mat-label>Second Input</mat-label>
        <input [(ngModel)]="inputObj.secondInputA" matInput>
      </mat-form-field>
    </div>
    <!--operation Button Design with event functionality-->
    <div class="row d-flex justify-content-center">
      <button class="col col-sm-2 col-md-4 col-lg-2" (click)="eventPassing('add')" mat-raised-button  style="margin-left:2%;margin-top:2%" color="primary">add</button>
      <button class="col col-sm-2 col-md-4 col-lg-2" (click)="eventPassing('sub')" mat-raised-button  style="margin-left:2%;margin-top:2%" color="primary">sub</button>
      <button class="col col-sm-2 col-md-4 col-lg-2" (click)="eventPassing('mul')" mat-raised-button  style="margin-left:2%;margin-top:2%" color="primary">multiply</button>
      <button class="col col-sm-2 col-md-4 col-lg-2" (click)="eventPassing('div')" mat-raised-button  style="margin-left:2%;margin-top:2%" color="primary">div</button>
    </div>

  </mat-card>
</div>
